@import "colors";

$padding: 8px;

.screen{
  display: flex;
  flex-direction: column;

  flex: 1 0 auto;
  background-color: white;
  // justify-content: center;
  align-items: center;
}

.itemRow{
  display: flex;
  width: 1200px;
  max-width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  overflow: hidden;

  @media(max-width: 600px) {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.item{
  display: flex;
  flex: 1 0 100/4 * 1%;
  position: relative;
  width: 100/4 * 1%;
  padding: $padding;
  justify-content: center;
  align-items: center;

  @media(max-width: 600px) {
    width: 100/2 *1%;
    flex: 1 0 100/2 * 1%;
  }
}
.itemName{
  display: flex;
  position: absolute;
  min-height: 40px;
  bottom: $padding;
  right: $padding;
  left: $padding;
  background-color: rgba(0, 0, 0, 0.52);
  align-items: center;
  flex-direction: row;
  // width: 100%;
  padding: 8px;
  color: white;
}

.featuredItem{
  display: flex;
  position: relative;
  width: 100/3 * 1%;
  flex: 1 0 100/3 * 1%;
  padding: $padding;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  @media(max-width: 600px) {
    width: 100/1 *1%;
    flex: 1 0 100/1 * 1%;
    flex-wrap: wrap;
  }
}

.banner{
  padding: 8px;
}

.rowLabel{
  display: flex;
  position: relative;
  border-bottom: 1px solid black;
  // margin: 0 8px;
  width: 96%;
  // align-items: center;
  justify-content: center;
  margin: 16px 0;

  > div{
    font-weight: bold;
    font-size: 1.4em;
    top: 14px;
    background-color: white;
    padding: 0 8px;
  }
}
