@import "colors";

.screen{
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  background-color: white;
  align-items: center;
  // align-items: center;
}

.content{
  display: flex;
  // flex-direction: column;

  padding: 16px;
  width: 100%;
  max-width: 1200px;
  flex-direction: row;
  flex-wrap: wrap;
}

.image{
  // display: block;
  align-self: center;
}

.name{
  font-size: 1.6em;
}

.images{
  display: flex;
  flex-direction: column;
  width: 50%;
}
.info{
  flex: 1;
  padding: 0 8px;
}
// .block{
//   display: inline-block;
// }
.imageList{
  display: flex;
  // flex-direction: row;
  overflow-x: scroll;
  padding: 16px 0;
  align-items: center;
}
.imageListImage{
  margin-right: 4px;
  max-height: 100px;
}

.owner{
  text-transform: capitalize;
}
