@import 'colors';

@mixin btn($color, $background) {
  display: flex;
  background: $background;
  color: $color;
  // text-align: center;
  justify-content: center;
  align-items: center;

  // font-weight: bold;
  font-size: 1.7em;
  padding: 0;
  height: 40px;

  &:active, &:focus {
    outline: thin dotted;
    outline: 5px auto darken($background, 5%);
  }
}

.btn.btn-black {
  @include btn($white, $black);
}

.btn.btn-blue {
  @include btn($white, $blue);
}

.btn.btn-white {
  @include btn($blue, $white);
}

.btn.btn-green {
  @include btn($white, $green);
}

.btn.btn-default {
  @include btn($black, $white);
}
