@import 'colors';

html, body {
  background-color: $blue;
  font-family: "Roboto", "Noto", sans-serif;
}

a{
  color: $blue;
  &, &:hover{
    text-decoration: none !important;
  }
}

ul{
  padding: 0px;

  &:before, &:after{
    content: "";
    display: table;
    clear: both;
  }

}

.border{
  &-top {
    border-top: 1px solid #ddd;
  }
  &-bottom {
    border-bottom: 1px solid #ddd;
  }
  &-right{
    box-shadow: 1px 0px #ddd;
  }
  &-left{
    box-shadow: -1px 0px #ddd;
  }
}

.pad {
  &-all{
    padding-left: 16px;
  }
  &-left{
    padding-left: 16px;
  }
  &-right{
    padding-right: 16px;
  }
  &-top{
    padding-top: 16px;
  }
  &-bottom{
    padding-bottom: 16px;
  }
  &-none{
    padding: 0;
  }
}
