@import 'colors';

input {
  // display: flex;
  // background: $background;
  // color: $color;
  // text-align: center;
  // justify-content: center;
  // align-items: center;

  font-weight: normal !important;
  // font-size: 1.3em !important;

  height: 48px !important;
  // padding: 8px;

  &:active, &:focus {
    outline: thin dotted;
    outline: 5px auto darken($blue, 5%);
  }
}
