@import "colors";

:global {
  * {
    // position: relative;
    // display: flex;
    // flex-direction: column;
    // flex-shrink: 0;
    // overflow: hidden;
    // box-sizing: border-box;

    // padding: 0 ;
    // margin: 0 ;
    // border: 0 ;
  }

  html, body {
    display: flex;
    flex-direction: column;
  }

  ul {
    list-style: none;
  }

  img{
    // flex-grow: 0;
    max-height: 100%;
    max-width: 100%;
    display: inline-flex;
  }

  span, b, i, strong, em {
    display: inline;
  }

  head, script, meta, title, link, style, template {
    display: none;
  }
}
