.container{
  display: flex;
  // min-height: 48 * 1.5px;
  background-color: #2b2b2b;
  flex-direction: row;
  // flex: 1;
  height: 100%;

  justify-content: center;
  width: 150px;
}

.inner{
  display: flex;
  flex: 1;
  background-color: #2b2b2b;
  color: white;
  flex-direction: column;
  align-items: center;
}

.logo{
  display: flex;
  height: 48 * 1.5px;
  // max-width: 100%;
  padding: 16px;
  justify-content: center;
  align-items: center;
}

.links{
  display: flex;
  flex-direction: column;
}

.link{
  color: white;
  padding: 8px;
}
