@import "colors";

.screen{
  height: 100vh;
  background-color: $blue;
  align-items: center;
  justify-content: center;
}

.icon{
  color: white;
  font-size: 120px !important;
}

.message{
  color: white;
  font-size: 30px;
  margin-top: 16px;
}

.loginMessage{
  height: 48px;
  flex-direction: row;
  color: white;
  font-size: 16px;
  // text-align: center;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 16px;
  width: 100%;
}

.loginLink {
  display: flex;
  flex-direction: row;
  text-decoration: underline;
  margin-left: 8px;
  height: 100%;
  align-items: center;
  font-weight: bold;
}
