@import "colors";

.screen{
  height: 100vh;
  background-color: $blue;
  align-items: center;
  justify-content: center;
}

.logo {
  align-self: center;
  max-width: 120px;
  margin-bottom: 16px;
}

.phrase{
  color: white;
  font-size: 30px;
}

.form{
  width: 100%;
}

.message{
  height: 48px;
  flex-direction: row;
  color: white;
  font-size: 16px;
  // text-align: center;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 16px;
  width: 100%;
}

.registerLink {
  display: flex;
  flex-direction: row;
  text-decoration: underline;
  margin-left: 8px;
  height: 100%;
  align-items: center;
  font-weight: bold;
}

.registerButton{
  background-color: transparent;
  margin-bottom: 8px;
  height: 48px;
  color: white;
  font-size: 16px;
  align-content: center;
  justify-content: center;
  flex-direction:row;
}

.inputWrapper{
  margin-top: 40px;
  background-color: rgba(0,0,0,0.3);
  padding: 0 16px;
  align-items: center;
}

.inputField{
  max-width: 265px;
  border: none;
  background-color: transparent;
  color: white;
  width: 100%;

  border-bottom: 2px solid rgba(0,0,0,0.3);

  &::placeholder{
    color: whitesmoke;
    font-weight: 300;
  }

  &:last-child{
    border-bottom: none;
  }

  &:active, &:focus {
    outline: none;
    box-shadow: none;
    // border: none;
  }
}
