.container{
  display: flex;
  border-top: 1px solid #e5e5e5;
  z-index: 99;
  background-color: #fafafa;
  justify-content: center;

  padding-bottom: 16px;
  padding-top: 16px;

}

.row{
  display: flex;
  max-width: 1200px;
  justify-content: space-around;
  width: 100%;

  ul{
    display: flex;
    flex-direction: column;
  }
}

// .column{
//   max-width: 25%;
//   // justify-content: center;
//   align-items: center;
// }
