.container{
  display: flex;

  // min-height: 48 * 1.5px;
  background-color: #2b2b2b;
  // color: white;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  // @media(max-width: 600px) {
  //   flex-direction: column;
  // }
}

.inner{
  display: flex;
  min-height: 48 * 1.5px;
  width: 1200px;
  background-color: #2b2b2b;
  color: white;
  // flex-direction: row;
  max-width: 100%;

  // justify-content: center;
  align-items: center;

  @media(max-width: 600px) {
    flex-direction: column;
  }
}

.logo{
  display: flex;
  flex-shrink: 0;
  // flex-direction: column;
  height: 48 * 1.5px;
  // max-width: 100%;
  padding: 16px;
  justify-content: center;
  align-items: center;
}

.links{
  display: flex;

  @media(max-width: 600px) {
    flex-wrap: wrap;
  }
}

.link{
  color: white;
  padding: 8px;
}
