@import "colors";
$padding: 8px;

.screen{
  display: flex;
  flex-direction: column;

  flex: 1 0 auto;
  background-color: white;
  align-items: center;
}

.info{
  display: flex;
  // flex-direction: row;
  width: 1200px;
  max-width: 100%;
  border-bottom: 1px solid rgba(43, 43, 43, 0.22);
  padding: 8px;
}
.infoDetails{
  padding-left: 8px;
}
.picture{
  display: block;
  height: 250px;
  width: 250px;
}

.content{
  display: flex;
  flex-direction: column;
  margin: 8px 0;
  width: 1200px;
  max-width: 100%;
}

.itemRow{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  // margin-top: 16px;
  flex-direction: row;
  justify-content: flex-start;
  // overflow: hidden;
}

.item{
  display: flex;
  position: relative;

  width: 100/4 * 1%;
  // flex: 1 0 100/4 * 1%;
  padding: $padding;
  justify-content: center;
  align-items: center;

  @media(max-width: 600px) {
    width: 100/2 * 1%;
    max-width: 100/2 * 1%;
  }
}
.itemImage{
  display: flex;
  position: relative;
  // height: 360px;
  width: 270px;
  max-width: 100%;
  min-height: 200px;
  justify-content: center;
  align-items: center;

  img{
    max-width: 100%;
    max-height: 100%;
  }
}
.itemName{
  display: flex;
  position: absolute;
  min-height: 40px;
  bottom: $padding;
  right: $padding;
  left: $padding;
  background-color: rgba(0, 0, 0, 0.52);
  align-items: center;
  flex-direction: row;
  // width: 100%;
  padding: 8px;
  color: white;
}
