@import "colors";

.screen{
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  background-color: white;
  // justify-content: center;
}
.inner{
  padding: 8px;
  width: 1200px;
  max-width: 100%;
}

.title{
  margin-bottom: 8px;
}
.p{
  margin-bottom: 8px;
}
