@import "colors";

.screen{
  display: flex;
  flex: 1 0 auto;
  padding: 16px;
  background-color: white;
  align-items: center;
  justify-content: center;
}
.form{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  // padding: 16px;
}
.saveButton{
  display: flex;
  min-width: 64px;
  height: 48px;
  justify-content: center;
  align-items: center;
}

.inputField{
  width: 100%;
  min-width: 64px;
  min-height: 48px;
  border: 1px solid black;
  margin: 8px 0;
  padding: 4px;
  font-weight: normal;
  font-size: 1.1em !important;
}

.back{
  display: block;
  align-self: flex-start;
}
.imgUpload{
  display: flex;
  flex-direction: column;

  min-height: 150px;
  width: 200px;
  border: 1px dotted black;
  margin: 8px;
  justify-content: center;
  align-items: center;
}

.pictureWrapper{
  display: flex;
  // flex-direction: row;
}
