.container{
  flex: 1;
}

.table{
  width: 100%;
  // display: table;

  tr{
    color: black;
    background: white;
    height: 48px;
  }

  th{
    border-bottom: 1px solid grey;
  }

  td, th{
    text-align: left;
    padding: 0 8px;
  }
}

.number{
  text-align: right !important;
}

.item{
  // display: table-row;
  // flex-direction: row;
  min-height: 48px;
  background-color: white;
  // border-bottom: 1px solid grey;
  // width: 100%;
  // align-items: center;
  padding: 0 8px;
}
